doctype 5
html(lang="en")
  head
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Rokkitt:700', rel='stylesheet', type='text/css')
    link(href="style/style.min.css", rel='stylesheet', type='text/css')
    title= blog.title
  body
    #header
      - blog.links
      each section in blog.links
        .sec
          h3= section.title
          ul
            each link, name in section.links
              li
                a(href = link)= name
      a(href='/')
       h1= blog.title
    #search
      input(placeholder='Search...')
      .loading Loading...
      #results
    #container
      each post in posts
        include post
  script(src='/script/wrench/wrench.js')
  script(src='/script/script.js')